telethon
setuptools
wheel
aiofiles
aiohttp
beautifulsoup4
cairosvg
cfscrape
coffeehouse
colour
covid
cowpy
cryptg
csvfaker
DateTime
fontTools
python-dotenv
emoji
fonttools
geopy
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans==4.0.0-rc1
gsearch
gTTS>=2.0.1
hachoir
heroku3
html-telegraph-poster
humanize
jotquote
justwatch
kwot
sqlalchemy==1.3.23
f
